version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_USER: nexdefend
      DB_PASSWORD: password
      DB_NAME: nexdefend_db
      DB_HOST: db
      CORS_ALLOWED_ORIGINS: http://localhost:3000,https://nexdefend.vercel.app
    networks:
      - nexdefend-net

  ai:
    build:
      context: nexdefend-ai
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      CORS_ALLOWED_ORIGINS: http://localhost:3000,https://nexdefend.vercel.app
    networks:
      - nexdefend-net

  frontend:
    build:
      context: nexdefend-frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://api:8080/api/v1
    depends_on:
      - api
      - ai
    networks:
      - nexdefend-net

  db:
    image: postgres
    environment:
      POSTGRES_USER: nexdefend
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nexdefend_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - nexdefend-net

volumes:
  db_data:

networks:
  nexdefend-net:
