version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_USER: nexdefend
      DB_PASSWORD: password
      DB_NAME: nexdefend_db
      DB_HOST: db
      PYTHON_API: http://ai:5000
      CORS_ALLOWED_ORIGINS: http://localhost:3000,https://nexdefend.vercel.app
    volumes:
      - ./sample_eve.json:/var/log/suricata/eve.json
    networks:
      - nexdefend-net

  ai:
    build:
      context: nexdefend-ai
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      DB_USER: nexdefend
      DB_PASSWORD: password
      DB_NAME: nexdefend_db
      DB_HOST: db
      DB_PORT: 5432
      CORS_ALLOWED_ORIGINS: http://localhost:3000,https://nexdefend.vercel.app
    networks:
      - nexdefend-net

  frontend:
    build:
      context: nexdefend-frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://api:8080/api/v1
      REACT_APP_AI_API_URL: http://ai:5000
    depends_on:
      - api
      - ai
    networks:
      - nexdefend-net

  db:
    image: postgres
    environment:
      POSTGRES_USER: nexdefend
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nexdefend_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - nexdefend-net

  prometheus:
    image: prom/prometheus:v2.47.2
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - nexdefend-net

  grafana:
    image: grafana/grafana:10.0.3
    ports:
      - "3001:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    depends_on:
      - prometheus
    networks:
      - nexdefend-net

volumes:
  db_data:
  prometheus_data:
  grafana_data:

networks:
  nexdefend-net:
