.metrics {
  background-color: #0070f3;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.metrics-container {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.metric-item {
  min-width: 200px;
}

.metric-item h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.metric-item p {
  font-size: 1.2rem;
  opacity: 0.8;
}
